### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.iml
*.iws
*.log
*.tmp
hs_err_pid*
replay_pid*
*.ctxt

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/data/users.json
/data/views-2.json
/data/views-true.json
/data/user.settings.json
/data/global.settings.json
/lib/
/release/
